h1 {
    display: inline-block;

    user-select: none;

    text-transform: uppercase;
    font-size: xx-large;

}

h1:after {
    display: block;
    content: " ";

    border-bottom: solid 5px red;
}
/* Exo 1 */
#exo1>h1:after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s ease;
}

#exo1>h1:hover::after {
    transform: scaleX(1);
}
/* fin Exo 1 */



/* Exo 2 */
#exo2>h1::after {
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 1s ease;
}

#exo2>h1:hover::after {
    transform: scaleX(1);
}
/* fin Exo 2 */



/* Exo 3 */
#exo3>h1::after {
    position: relative;
    
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 1s ease;
}

#exo3>h1:hover::after {
    transform: scaleY(10);
    z-index: -1;
}
/* fin Exo 3 */
