/* Exo 1 */



section:nth-of-type(1) {
    display:inline-flex;
    position:relative;

    width:auto;
    height:50px;

    flex-wrap:wrap;
    transition:all .5s ease;
}

section:nth-of-type(1)::after {
    content: '';
    background: red;

    position:absolute;

    bottom:0%;
    
    width: 0%;
    height: 4px;

    transition: all .5s ease;
}

section:nth-of-type(1):hover::after {
    width: 100%;
}
/* fin Exo 1 */



/* Exo 2 */

/* fin Exo 2 */



/* Exo 3 */

/* fin Exo 3 */
